<div class="footer py-4 bg-gray-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- <img src="{{ 'assets/images/fiat-logo-circle-100.png' | relative_url }}" srcset="{{ 'assets/images/fiat-logo-circle-100.png' | relative_url }} 1x, {{ 'assets/images/fiat-logo-circle-100.png' | relative_url }} 2x" class="img-fluid d-block mr-auto ml-auto mb-4" alt="Fiat Insight footer logo"/> -->
        <p class="text-center mb-0">&copy; <script>document.write(new Date().getFullYear());</script> Violino Ristorante Italiano. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
