<nav class="navbar navbar-expand-lg fixed-top d-none d-sm-flex">
  <div class="container">
    <a class="navbar-brand" href="/" onclick="gtag('event', 'view_home', { event_category: 'engagement', event_label: 'Navbar item' });">Violino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-top">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ 'menu' | relative_url }}" onclick="gtag('event', 'view_menu', { event_category: 'engagement', event_label: 'Navbar item' });">Menu</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{ 'family' | relative_url }}">La Famiglia</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/#reservations">Make a Reservation</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/violinoristorante/" target="_blank" onclick="gtag('event', 'view_instagram', { event_category: 'engagement', event_label: 'Navbar item' });"><i class="fab fa-instagram text-pink"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/Violino-Ristorante-Italiano-129705957055801/" target="_blank" onclick="gtag('event', 'view_facebook', { event_category: 'engagement', event_label: 'Navbar item' });"><i class="fab fa-facebook text-blue"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.yelp.com/biz/violino-ristorante-italiano-winchester" target="_blank" onclick="gtag('event', 'view_yelp', { event_category: 'engagement', event_label: 'Navbar item' });"><i class="fab fa-yelp text-red"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.tripadvisor.com/Restaurant_Review-g58318-d514664-Reviews-Violino_Ristorante_Italiano-Winchester_Virginia.html" target="_blank" onclick="gtag('event', 'view_tripadvisor', { event_category: 'engagement', event_label: 'Navbar item' });"><i class="fab fa-tripadvisor text-green"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(window).scroll(function(){
    if($(document).scrollTop() > 225) {
      $('.main-title').css('opacity', 0);
    }
    if($(document).scrollTop() > 500) {
      $('.navbar').addClass('darkened');
    }
    if($(document).scrollTop() < 450) {
      $('.navbar').removeClass('darkened');
    }
    if($(document).scrollTop() < 200) {
      $('.main-title').css('opacity', 1);
    }
  });
</script>
