// Tweakable style aspects

// Backgrounds

.bg-white {
  background: $white !important;
}

.bg-light-gray {
  background: $light_gray !important;
}

.bg-dark-gray {
  background: $dark_gray !important;
  color: $white !important;
}

.bg-charcoal {
  background: $charcoal !important;
  color: $white !important;
}

.bg-blue {
  background: $blue !important;
  color: $white !important;
}

.bg-green {
  background: $green !important;
  color: $white !important;
}

.bg-pink {
  background: $pink !important;
  color: $white !important;
}

// Text

.text-charcoal {
  color: $charcoal !important;
}

.text-gray {
  color: $gray !important;
}

.text-light-gray {
  color: $light_gray !important;
}

.text-red {
  color: $red !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-green {
  color: $green !important;
}

.text-blue {
  color: $blue !important;
}

.text-pink {
  color: $pink !important;
}

.text-brown {
  color: $brown !important;
}
