// Any variables required by Fiat UI

// Fonts

$header: 'Cabin', sans-serif !default;
$body: 'Open Sans', sans-serif !default;

// Colors

$white: #fff !default;
$blue_gray: rgb(250,250,255) !default;
$light_gray: rgb(244,244,247) !default;
$gray: rgb(145,150,170) !default;
$dark_gray: rgb(85,90,105) !default;
$slate: rgb(40,44,52) !default;
$charcoal: rgb(33,37,43) !default;
$black: rgb(24,26,31) !default;

$green: rgb(16,206,124) !default;
$light_green: #A8DBA8 !default;
$dark_green: #3B8686 !default;

$light_red: #F9D1C3 !default;
$red: rgb(227,25,55) !default;
$pink: rgb(252,180,215) !default;

$light_yellow: rgba(252,215,51,0.2) !default;
$yellow: rgb(252,215,51) !default;

$light_blue: rgb(100,200,255) !default;
$blue: rgb(33,150,243) !default;
$dark_blue: rgb(11,46,89) !default;

$brown: #54301a !default;

$platinum: #ddd;
$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #cd7f32;

$black_trans: rgba(0,0,0,0.4) !default;
$blue_trans: rgba(20,50,70,0.5) !default;
