---
---

@import "bootstrap/bootstrap";
@import "fiat_ui";

.text-title {
  font-family: $title;
}

.videoExterior {
  max-height: 500px;
  overflow: hidden;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  .mask {
    background-color: rgba(0,0,0,0.6);
  }
}
.videoWrapper iframe,
.videoWrapper video {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: -1;
}

nav {
  &.navbar {
    transition: 0.3s all ease-in-out;
    margin-bottom: -100px;
    &.darkened {
      background: rgba(255,255,255,1);
      border-bottom: 1px solid $light_gray;
      .navbar-brand {
        color: $charcoal;
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $charcoal;
          }
        }
      }
    }
    .navbar-brand {
      font-family: $title;
      font-size: 3rem;
      line-height: 3rem;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-family: $header;
          font-size: .8rem;
          font-weight: 700;
          padding: 1rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          &:hover {
            opacity: 0.8;
            border: 0;
          }
        }
        &.dropdown {
          .dropdown-menu {
            background: $white;
            border-radius: 0;
            .dropdown-item {
              color: $dark_gray;
              margin: 0 0;
              border-left: 3px solid transparent;
              &:hover {
                border: none;
                border-left: 3px solid $blue;
              }
              &:active {
                background: $light_gray;
                color: $dark_gray;
              }
              .svg-inline--fa {
                margin-right: 8px;
                color: $gray;
              }
            }
          }
        }
      }
    }
  }
}

header {
  padding: 0;
  @include media-breakpoint-down(xs) {
    padding-top: 0;
  }
  .mask {
    padding-top: 250px;
    padding-bottom: 300px;
    h1 {
      transition: 0.3s all ease-in-out;
      font-family: $title;
      font-size: 10rem;
      line-height: 9rem;
      // font-style: italic;
      font-weight: 700;
      @include media-breakpoint-down(xs) {
        font-size: 8rem;
        line-height: 7rem;
      }
      &.subtitle {
        font-size: 4rem;
        line-height: 3rem;
        @include media-breakpoint-down(xs) {
          font-size: 3rem;
          line-height: 2rem;
        }
      }
    }
  }
}

#welcome {
  header {
    background-image: url('https://violino.s3.amazonaws.com/IMG_7033.jpg');
    background-size: 100%;
    background-attachment: fixed;
    @include media-breakpoint-down(xs) {
      background-size: cover;
      background-position: -500px;
      background-attachment: scroll;
      background-repeat: no-repeat;
    }
  }
}

#menu {
  header {
    background-image: url('https://violino.s3.amazonaws.com/IMG_7139.jpg');
    background-size: 100%;
    background-attachment: fixed;
    @include media-breakpoint-down(xs) {
      background-size: cover;
      background-position: -500px;
      background-attachment: scroll;
      background-repeat: no-repeat;
    }
  }
  .callout {
    h2 {
      font-size: 4rem;
    }
    h4 {
      font-size: 3rem;
    }
  }
}

.callout {
  font-family: $header;
  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

.table {
  font-family: $header;
  &.list {
    tr {
      background: transparent;
    }
  }
}

.footer {
  background: $light_gray;
  p {
    color: $gray;
  }
}

.btn {
  &.btn-dark {
    background: $charcoal;
    border: 1px solid $charcoal;
    &:hover {
      background: $charcoal;
      border: 1px solid $charcoal;
      opacity: .9;
    }
  }
}
